:root {
    --primary-blue: #4d92bc;
    --primary-blue-semitransparent: #4d92bcaa;
    --warm-white: #fcf5ed;
    --grey: #cccccc;

    --font-size-s: 12pt;
    --font-size-m: 18pt;
    --font-size-l: 22pt;
    --font-size-xl: 32pt;
    --font-size-xxl: 48pt;

    --font-family-body: "Roboto", sans-serif;

    --spacing-xs: 2px;
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 20px;
    --spacing-xl: 40px;
}