:root {
    color: white;
}

#content-container {
    background-size: cover;
    background-image: url("../media/homepage/PigmanWithMushrooms.png");

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: calc(80vh - 2 * var(--spacing-l));

        background-color: var(--dark-semitransparent);
    }
}

.homepage-main-title {
    min-width: calc(100% - var(--spacing-xxl));
    margin-top: var(--spacing-xxl);
    margin-left: var(--spacing-xxl);

    font-size: var(--font-size-xxxl);
    font-weight: bold;
}

@keyframes bounce-in-title {
    0% {
        transform: translateY(50px);
        color: transparent;
    }

    50% {
        transform: translateY(-30px);
        color: white;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-out-title {
    0% {
        transform: translateY(0);
        color: white;
    }

    100% {
        transform: translateY(30px);
        color: transparent;
    }
}

.homepage-info-section {
    display: flex;

    margin: var(--spacing-xxl);

    .about-me {
        align-self: flex-end;

        max-width: 40%;
        padding-right: var(--spacing-xl);

        font-size: var(--font-size-m);
    }

    .homepage-highlights {
        margin-left: var(--spacing-xl);

        .project-icons {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            margin-bottom: var(--spacing-xxl);

            .project-icon {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 0 var(--spacing-l);

                .project-title {
                    display: none;
                    max-width: 80%;

                    padding: var(--spacing-m) 0;

                    font-size: var(--font-size-m);
                    text-wrap: wrap;
                    text-align: center;
                }

                button {
                    border: 0;
                    outline: none;
                    background-color: transparent;

                    img {
                        height: var(--spacing-xxxl);
                        width: var(--spacing-xxxl);

                        object-fit: cover;

                        border-radius: var(--spacing-xxxl);
                        border: var(--spacing-m) solid var(--grey-semitransparent);
                    }
                }
            }

            .project-icon:hover {
                img {
                    border: var(--spacing-m) solid var(--grey);
                }
            }

            .project-icon-previous {
                .project-title {
                    display: block;
                    color: white;

                    animation-name: slide-out-title;
                    animation-duration: 0.2s;
                    animation-fill-mode: forwards;
                }
            }

            .project-icon-current {
                .project-title {
                    display: block;
                    color: white;

                    animation-name: bounce-in-title;
                    animation-duration: 0.5s;
                }

                button img {
                    border: var(--spacing-m) solid white;
                }
            }

            .project-icon-current:hover {
                img {
                    border: var(--spacing-m) solid white;
                }
            }
        }

        .project-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .project-description {
                padding: 0 var(--spacing-xl);

                font-size: var(--font-size-s);
            }

            .go-to-project-button {
                border-radius: var(--spacing-s);
                padding: var(--spacing-m) var(--spacing-l);
                
                background-color: var(--primary-blue);

                font-size: var(--font-size-m);
                color: white;
                text-decoration: none;
            }
        }
    }
}